# ==============================
# Archivos de entorno / configuración sensible
# ==============================
initdb/.env
.env.local
.env.*.local
.env.backup
.env
# ==============================
# Docker
# ==============================
docker-compose.override.yml
*.dockerfile
*.pid
pg_data/
