# ==============================
# CONFIGURACIÓN POSTGRES / PGADMIN
# ==============================

POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_database

PGADMIN_DEFAULT_EMAIL=your_pgadmin_email
PGADMIN_DEFAULT_PASSWORD=your_pgadmin_password

# ==============================
# USUARIOS DE AUDITDB
# ==============================

POSTGRES_ADMIN_USER=your_admin_user
POSTGRES_ADMIN_PASSWORD=your_admin_password

POSTGRES_READ_USER=your_read_user
POSTGRES_READ_PASSWORD=your_read_password

POSTGRES_OPER_USER=your_oper_user
POSTGRES_OPER_PASSWORD=your_oper_password

POSTGRES_REPORT_USER=your_report_user
POSTGRES_REPORT_PASSWORD=your_report_password

POSTGRES_BACKUP_USER=your_backup_user
POSTGRES_BACKUP_PASSWORD=your_backup_password

POSTGRES_DEV_USER=your_dev_user
POSTGRES_DEV_PASSWORD=your_dev_password

POSTGRES_EXT_USER=your_ext_user
POSTGRES_EXT_PASSWORD=your_ext_password

POSTGRES_ETL_USER=your_etl_user
POSTGRES_ETL_PASSWORD=your_etl_password

POSTGRES_SUPPORT_USER=your_support_user
POSTGRES_SUPPORT_PASSWORD=your_support_password

POSTGRES_FIN_USER=your_fin_user
POSTGRES_FIN_PASSWORD=your_fin_password
